#oneClickControl{
    background-color: #fdf7c3;
    border: 1px solid #b8b6b6;
    border-radius: 120pt;
    width: 120pt;
    height: 120pt;
    margin: 0 auto;
    text-align: center;
    display: grid;
    place-items: center;     /* Центрирует и по горизонтали и по вертикали */
    min-height: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
img {
    width: 150px;
    height: 150px;
}
.hidden {
    display: none;
}
tr:hover {
    background-color: #dadada;
}

.highlighted {
    background-color: rgba(250, 237, 121, 0.45);
}




.whiteColor{
    color: white;
}

#controls button {
    background-color: #fdf7c3;
    width: 100%;
    font-size: 30pt;
}

#dictionariesUrls a {
    font-size: 20pt;
    margin-left: 10pt;
}

#dictionariesUrls a.current {
    font-size: 40pt;
}

#currentData{
    border: 1px solid #b8b6b6;
    background-color: #ffffff;
    height: 100px;
}
