table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
img {
    width: 150px;
    height: 150px;
}
.hidden {
    display: none;
}
tr:hover {
    background-color: #dadada;
}

.highlighted {
    background-color: rgba(250, 237, 121, 0.45);
}
